*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%;
}

body{
  padding: 2rem;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  background-color: #59218d;
  color: 	#f7f7f7;
  border: 5px solid white;
  font-size: 1.6rem;
}

.extension__logo{
  margin: 0 auto;
  padding: 2.5rem;
  background-color: #B53A25;
  color: white;
  font-size: 5rem;
  width: 50%;
  text-align: center;
  border-radius: 3rem;
}

.extension__heading{
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  margin: 3rem;
  text-transform: uppercase;
  letter-spacing: .5rem;
}

.container{
  width: 100%;
  margin-top: 3rem;
}

.form{
  text-align: center;
}

.btn{
  border: none;
  background-color: #B53A25;
  color: white;
  font-size: 2rem;
  margin-top: 3rem;
  padding: 2rem 5rem;
  border-radius: 2rem;
  cursor: pointer;
}

.form__input{
  border: none;
  outline:none;
  display: block;
  width:80%;
  margin: 0 auto;
  font-family: inherit;
  font-size: 1.6rem;
  border-radius: .5rem;
  padding: 2rem 2.5rem;
}


/* utility classes */

.error {
  color: #ffe1e1;
}

.text-center{
  text-align: center;
}

.center-box{
  margin: 0 auto;
  /* works on block elements when they are inside another block element */
  /* for example a <div> inside another <div> */
}